a:link, a:visited, a:active {
    text-decoration:underline;
    color: black;
}


.header {
    height: 250px;
    background-image: url( https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
}


#title {
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 50px;
}


.wraper {
    position: sticky;
    top: 0px;
    z-index: 1;
    list-style: none;
    padding: 1em;
    background-color: black;
}


.menu-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
}


.contact {
    height: 350px;
}


.contact-h1 {
    font-size: 20px;
}


.contact-list {
    text-decoration: underline;
    width: 30%;
}


#yellow {
    background-color: yellow;
    width: 76%;
}


.video {
    position: relative;
    left: 400px;
    bottom: 250px;
    width: 55%;
}


.contact-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 12px;
    list-style: none;
    width: 30%;
    text-decoration: underline;
}


#contact-box {
    padding: 1em;
    border: solid;
    width: 200px;
    height: 30px;
    position: relative;
    left: 40px;
    top: 20px;
}


.info {
    background-color: black;
    color: white;

}


#title-info {
    margin-left: 1em;
    padding: 1em;
}


.info-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
}


.info-text {
    margin-left: 2em;
    color: white;
}


.courses {
    position: relative;
    left: 100px;
}




.courses-box {
    border: solid ;
    padding: 1em;
    width: 80%;
    margin-top: 10px;
}


.courses-allign {
    display: inline-flex;
}


h1#title-courses {
    border-bottom: solid;
}


.courses-group {
    width: 44%;
    padding: 1em;
}


.box1 {
    width: 40%;
}


.box2 {
    position: absolute;
    left: 400px;
    bottom: 50px;
    width: 40%;
}


.final-background {
    background-color: black;
    color: white;
    padding: 1em;
    position: relative;
    top: 15px;
}


#final-title {
    position: relative;
    left: 20px;
}


.final-text {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 2em;
}


.img-partners {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


#img {
    width: 45%;
}


.footer-background {
    background-color: black;
    color: white;
    padding: 1em;
}


.footer-display {
    display: inline-flex;
    margin-left: 1em;
}


@media all and (max-width: 920px) {
    .header {
        height: 150px;
    }
    #title {
        position: static;
        font-size: 45px;
    }
    .contact {
        height: 500px;
    }
    #contact-box {
        height: 20px;
        top: 0px;
    }
    #yellow {
        width: 175%;
    }
    .video {
        position: static;
        height: 50%;
    }    
    .info-group{
        display: block;
        width: 90%;
    }
    .courses {
        position: static;
        height: 100%;
    }
    .courses-allign {
        display: block;
    }
    .box2 {
        position: static;
        width: 100%;
    }
    .final-text {
        display: block;
    }
    .footer-display {
        display: block;
    }
}